#text1 {
  font-family: "Quicksand", sans-serif;
}
#text2 {
  font-family: "Babylonica", cursive;
}

#text3 {
  font-family: "Playfair Display", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.container2 {
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: transparent;
  border: #11dd11 2px solid;
}

.calculadora {
  width: 120px;
  text-align: center;
  border-radius: 10px;
  height: 40px;
  display: flex;
  font-size: 10px;
  color: rgb(240, 245, 236);
  background-color: rgb(15, 194, 9);
}
.bloco1 {
  width: 40%;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: justify;
  color: white;
  font-size: 15px;
}
#tabela {
  width: 60%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 30px;
}
.linha1 {
  font-size: 15px;
  color: #30ad30;
  border-color: white;
  border-bottom: solid 2px;
  text-align: center;
}
.linhas {
  font-size: 15px;
  border-color: white;
  border-bottom: solid 2px;
  border-right: solid 1px;
  text-align: center;
}
.destaque {
  color: yellow;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.titulopaginas {
  color: #11dd11;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.header {
  align-content: center;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 30px;
  min-height: 40px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px rgb(141, 139, 139) solid;
  border-left: transparent;
  border-right: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between; /*vai espaçar sozinho*/
  flex-wrap: wrap; /*vai quebrar sozinho */
  padding: 10px;
  gap: 8px 15px; /*quando quebrarem vão ter automaticamente um padding de 30px, mas quando diminuir não vão se encostar por causa do GAP*/
}
.headerBtnGroup {
  display: flex;
  gap: 15px;
}
.btn-btn {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  transition: 0.6s;
}
.btn-btn:hover {
  border: 2px solid chartreuse;
}
.navBtn {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  transition: 0.6s;
}
.navBtn:hover {
  border-bottom: 2px solid chartreuse;
}
.sectionTitle {
  font-size: 26px;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding-top: 20px;
  cursor: none;
  color: aliceblue;
  opacity: 0.5;
}
.sectionTitle:hover {
  color: #11dd11;
  opacity: 0.7;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sectionDescription {
  text-align: center;
  color: #b6b1b1;
}
.formulario {
  width: 50%;
  margin-top: 20px;
  background-color: transparent;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border-width: 2px white;
  padding: 10px;
}
.footer {
  font-family: "Playfair Display", serif;
  width: 50%;
  margin-top: 20px;
  min-height: 40px;
  background-color: darkgreen;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}

.footerAnchor {
  color: white;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

.footerAnchor:hover {
  transition: 1s;
  box-shadow: 1px 1px chartreuse, 2px 2px chartreuse, 3px 3px chartreuse;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.letras {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#aparecer {
  color: #11dd11;
  text-align: center;
  font-size: 18px;
  align-items: center;
  align-content: center;
}
